<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="POSReport.Properties.Settings.POSConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=POS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="POSReport.Properties.Settings.POSConnectionString1"
            connectionString="Data Source=THANH\SQLEXPRESS;Initial Catalog=POS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>