<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication4.Properties.Settings.ThanhConnectionString"
            connectionString="Data Source=VISKY_THANH\SQLEXPRESS;Initial Catalog=Thanh;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication4.Properties.Settings.POSConnectionString"
            connectionString="Data Source=THANH\SQLEXPRESS;Initial Catalog=POS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>